.content {
  display: grid;
  padding: 2rem;
  gap: 1.5rem;
  height: calc(100vh - 57px);

  grid-template-areas:
    "chart chart chart chart"
    "recent recent recent recent";
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

body {
  overflow: hidden;
}

.card-height {
  max-height: calc((100vh - 57px) / 2 - 2rem);
}

.card-chart {
  grid-area: chart;
}

.card-recent {
  grid-area: recent;
}
