@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  border: 1px solid red;
} */

* {
  user-select: none;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  scroll-behavior: smooth;
}

img {
  pointer-events: none;
}

body {
  background-color: #161623;
  color: white;
  scroll-behavior: smooth;
}
h1 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 68px; /* 113.333% */
  letter-spacing: 4.8px;
  width: 780px;
}

h2 {
  color: #fff;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: 53px; /* 132.5% */
  letter-spacing: 3.2px;
}

h3 {
  color: #fff;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 10px;
  font-style: normal;
  font-weight: 500;
  line-height: 53px; /* 132.5% */
}

hr {
  opacity: 0.5;
  background: linear-gradient(
    90deg,
    rgba(35, 33, 47, 0) 6.12%,
    #434054 50.42%,
    rgba(35, 33, 47, 0) 94.71%
  );
}

.text-gradient {
  background: var(
    --brand,
    linear-gradient(
      109deg,
      rgba(168, 192, 255, 0.9) 12.88%,
      rgba(90, 82, 177, 0.9) 60.68%,
      rgba(63, 43, 150, 0.9) 87.02%
    )
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-feature-settings: "clig" off, "liga" off;
  font-style: normal;
  font-weight: 600;
  line-height: 68px;
  letter-spacing: 4.8px;
}

*::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #161623;
}

*::-webkit-scrollbar {
  width: 10px;
  background-color: #161623;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #2d2d41;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer base {
  :root {
    --gradient: linear-gradient(to top left, #4776e6, #8e54e9);

    --background: 236 49.4% 4.72%;
    --foreground: 236 7.6% 97.95%;

    --muted: 236 34.2% 20.06%;
    --muted-foreground: 236 7.6% 55.9%;

    --popover: 236 28.519999999999996% 8.26%;
    --popover-foreground: 236 7.6% 97.95%;

    --card: 236 28.519999999999996% 8.26%;
    --card-foreground: 236 7.6% 97.95%;

    --border: 236 34.2% 20.06%;
    --input: 236 34.2% 20.06%;

    --primary: 236 76% 59%;
    --primary-foreground: 236 7.6% 5.8999999999999995%;

    --secondary: 236 34.2% 20.06%;
    --secondary-foreground: 236 7.6% 97.95%;

    --accent: 236 34.2% 20.06%;
    --accent-foreground: 236 7.6% 97.95%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 236 7.6% 97.95%;

    --ring: 236 76% 59%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
